<% container_type = "#{WidgetType.key_string(widget.widget_type)}_#{WidgetStyle.key_string(widget.widget_style)}" %>
<%= content_tag :div, class: "review_options_search_container review_options_search_container--#{container_type}" do %>
  <div class="review_options_search_container__description">
    나와 같은 체형 <span class="review_options_search_container__description--strong">리얼리뷰</span> 골라보기
  </div>
  <%= content_tag :div, class: 'review-options-search' do %>
    <ul class="review_option_types">
      <%= render review_option_types, review_option_types_count: review_option_types.count %>
    </ul>
  <% end %>
<% end %>
